/* Bakgrund och grundstil */
body {
    font-family: 'Georgia', serif;
    background-color: #1e1e1e; /* Mörk bakgrund */
    color: #f0f0f0; /* Ljus text */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Se till att det täcker hela skärmen */
  }
  
  /* Header-stil */
  header {
    text-align: center;
    background-color: transparent;
  }
  
  h1 {
    font-size: 3.5rem;
    font-weight: 400;
    color: #ffcc00; 
    letter-spacing: 2px;
    margin: 0;
    text-transform: capitalize; 
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.6); 
    animation: fadeIn 2s ease-in-out; 
  }
  .hidden-message {
    font-size: 6px; /* Mycket liten text */
    color: #f0f0f0; /* Nästan samma färg som bakgrunden */
    position: fixed; /* Fäster texten i fönstret */
    bottom: 5px; /* Håll texten 5px från botten */
    left: 50%; /* Placera i mitten horisontellt */
    transform: translateX(-50%); /* Justera så att texten är helt centrerad */
    opacity: 0.5; /* Lätt genomskinlighet */
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  